* {
  /* font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Open Sans", serif;
}

#root {
  background: url("../assets/cloudy-sunshine.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
}

/* .cloudy {
  background: url("../assets/cloudy.jpg") no-repeat center center/cover;
}

.rain {
  background: url("../assets/rain.jpg") no-repeat center center/cover;
}

.sunshine {
  background: url("../assets/sunshine.jpg") no-repeat center center/cover;
}

.clearSky {
  background: url("../assets/clear-sky.jpg") no-repeat center center/cover;
}

.thunderStorm {
  background: url("../assets/thunderstorm.jpg") no-repeat center center/cover;
} */

#searchType {
  color:transparent;
}

.buttonsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.optionButtonsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#lat {
  text-align: center;
  color: white;
}

.bottom {
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(150, 150, 150, 0.5);
}

.latClass {
  font-size: 1rem;
}

.bold {
  font-weight: 700;
}

.middle {
  color: white;
  width: 40%;
  margin: 1rem auto;
  font-size: 3.5rem;
  text-align: center;
  padding: 100px 0px 100px 0px;
  border-radius: 12px;
  background-color: rgba(150, 150, 150, 0.5);
}

.searchButton {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  margin: 10px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  background-color: #1e8449;
}

/* #root.x {
    background: url('../assets/rain.jpg') no-repeat center center/cover;
} */
